
services:
  db:
    image: mysql:8.0
    container_name: mysql_ecsr
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: titre_pro_ecsr
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_ecsr
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - db

  web:
    build:
      context: backend
    container_name: django_ecsr
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - ./frontend:/app/frontend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      MYSQL_DB: titre_pro_ecsr
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_HOST: db
      MYSQL_PORT: 3306
    depends_on:
      - db

volumes:
  db_data:
